* {
    box-sizing: border-box;
    margin: 0;
    border: none;
    font-family: "Inter", sans-serif;
}

nav {
    width: 100%;
    height: 7em;
    padding: 1em;
    background: #9DBEBB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    padding-inline: 0.5em;
    font-size: xxx-large;
}

.controls {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 100%;
    width: fit-content;
}

.controls label {
    font-weight: bold;
}

.controls input {
    outline: none;
    padding: 1em;
    width: 6em;
    border-radius: 0.5em;
}

.controls p {
    flex-grow: 1;
}

th {
    width: 7em;
    border-bottom: 1px solid #468189;
}

td {
    text-align: center;
}

main {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

main.idle, main.wait {
    opacity: 0.5;
}

main:not(.p_turn) * {
    pointer-events: none;
}

.board {
    display: flex;
    padding: 2em;
    gap: 2em;
    border: 1px solid #38676d;
}

.board div {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

canvas {
    background: grey;
    width: 100px;
    height: 100px;
    transition: box-shadow 0.25s;
}

canvas:hover:not(.used) {
    box-shadow: 0 0 5px 5px #468189;
}

canvas.clicked {
    box-shadow: 0 0 5px 5px #2a4d52;
}

button {
    background: #468189;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    width: 8em;
}

button:hover {
    background: #38676d;
}

button:active {
    background: #2a4d52;
}

button:disabled {
    background: #6ca1a4;
}
